#test {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(215, 54, 92, 0.7);
    transition: background-color .1s;
}

#test {
    background-color: transparent;
    cursor: pointer;
}

#test:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, rgb(76, 76, 246, 0.7), rgb(174, 226, 90, 0.7), rgb(232, 84, 118, 0.7));
    background-size: 200% 200%;
    background-position: 0% 100%;
    animation-name: test_hover;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes test_hover {
    from {
        background-position: 0% 100%;
    }

    to {
        background-position: 100% 0%;
    }
}
